# DS 3000/CS 3200 Lab 1

Due: Tuesday May 13 in-class

### Submission Instructions
Upload this `ipynb` file to GitHub, and then to Gradescope.  To ensure that your submitted `ipynb` file represents your latest code, make sure to give a fresh `Kernel > Restart & Run All` just before uploading the `ipynb` file to GitHub and verify that the correct version is represented on Gradescope.

### Tips for success
- Collaborate: bounce ideas off of each other, if you are having trouble you can ask your classmates or Dr. Gerber for help with specific issues, however...
- [(See)](http://www.northeastern.edu/osccr/academic-integrity), i.e. you are welcome to **talk about/discuss** (*not* show or allow each other to copy your answers to) the problems.

# Part 1 (40 points): Intro to Markdown

Use the markdown language below to create your own brief wikipedia-esque description of a topic related to International Government and Politics. 

Your mini-wiki page must include:
- three headers: a title, subtitle and subsubtitle (the #, ##, ### syntax)
- an embedded image from a web address (use an [image hosting site](https://makeawebsitehub.com/free-photo-hosting/) if you'd like to upload your own)
- a **markdown** table of size at least 9 cells (i.e. 3 by 3, or 5 by 2)
- a list in **markdown**
- a link to another website

To practice typing in math mode, also include a LaTeX formula describing how your final grade is going to be calculated based on the syllabus, something like:

$$grade = weight_1*score_1 + weight_2*score_2$$

Please be **brief** in your text.  Aim for roughly 3 sentences total of text.

# Global Health
![alt text](GlobalHealth.jpg "Global Health")
## What is Global Health? 
Global health places a priority on achieving equity in health, emphasizing proactivity and finding solutions. As opposed to public health, global health is on a broader scale not only looking at a distinct community, but reaching beyond borders. This can be in following infectious diseases between countries and how it affects different populations around the world. Further, global health is multidisciplinary in that it considers various health determinants including but not limited to environmental factors and politics.
### How Politics Influence Global Health
The politics of a given country dictate funding and policy decisions for the health of its constituents. Global governments often set goals, enforce laws, contribute resources, and provide services in order to make decisions for care. Understandably, depending on factors beyond the scope of politics -- such as environmental -- there are different policies in place for different countries regarding health; this may also relate to the leading causes of death and the category it falls into such as communicable or noncommunicable disease or injuries. Below is a table of the leading cause of death in 2021 for each of four income groups based on gross national income, as well as the category of the leading cause of death.

| Income Group  | Leading Cause of Death      | Category
| ------------- | --------------------------- | --------
| Low           | Lower Respiratory Infection | Communicable Disease
| Lower-Middle  | COVID-19                    | Communicable Disease
| Upper-Middle  | Stroke                      | Noncommunicable Disease
| High          | Ischaemic Heart Disease     | Noncommunicable Disease

### Environmental Factors of Global Health
There are various examples of global environmental health issues, or rather how environmental factors may affect the health of a given population, with one of significance currently being climate change. This is as climate change 'threatens essential ingredients of good health.' According to the World Health Organization (WHO), the essential ingredients are 
- clean air
- safe drinking water
- nutritious food supply
- safe shelter'

You can read more from the WHO at [The Global Health Observatory](https://www.who.int/data/gho/data/themes/public-health-and-environment#:~:text=Climate%20change%20is%20impacting%20human,of%20progress%20in%20global%20health.)

# Grade
The grading for our class will be calcuated using the following formula,
$$grade = 0.4*in\:class\:activities + 0.6*HW\:and\:labs$$

# Part 2: Numpy
## Part 2.1: Creating Arrays (10 points)

Create the following two arrays using the NumPy library and then print them out. Call the first array `array_a` and the second array `array_b` (make sure you keep the `import` statement below):

$$\mathbf{array_a} = \begin{bmatrix}3 & 8 & -2 & 3\\
.5 & -1 & 6 & 4\\
-5 & 7 & -42 & 2
\end{bmatrix}$$

$$\mathbf{array_b} = \begin{bmatrix}42 & 38 & 34\\
30 & 26 & 22\\
18 & 14 & 10\\
6 & 2 & -2\\
-6 & -10 & -14
\end{bmatrix}$$

In [146]:
# make sure to import numpy library
import numpy as np

In [148]:
array_a = np.array([[3, 8, -2, 3],
                    [0.5, -1, 6, 4],
                    [-5, 7, -42, 2]])
array_b = np.array([[42, 38, 34],
                    [30, 26, 22],
                    [18, 14, 10],
                    [6, 2, -2],
                    [-6, -10, -14]])

In [150]:
# uncomment below to print array_a
array_a

array([[  3. ,   8. ,  -2. ,   3. ],
       [  0.5,  -1. ,   6. ,   4. ],
       [ -5. ,   7. , -42. ,   2. ]])

In [152]:
# uncomment below to print array_b
array_b

array([[ 42,  38,  34],
       [ 30,  26,  22],
       [ 18,  14,  10],
       [  6,   2,  -2],
       [ -6, -10, -14]])

## Part 2.2: Exploring Arrays (15 points)

1. Give the shape, size, ndim, and nbytes for each of the two arrays.
1. Take the transpose of both arrays. Call these `t_array_a` and `t_array_b`.
1. Try to add `array_a` and `t_array_b` (*prove* and *show* you did this with commented out code), then remove the last column of `t_array_b` and try to add them again. In a markdown cell, explain what happened.

In [155]:
# array_a
print('ARRAY A')
print('Shape: ', array_a.shape)
print('Size: ', array_a.size)
print('Num. Dimensions: ', array_a.ndim)
print('Num. Bytes: ', array_a.nbytes)
# array_b
print('\nARRAY B')
print('Shape: ', array_b.shape)
print('Size: ', array_b.size)
print('Num. Dimensions: ', array_b.ndim)
print('Num. Bytes: ', array_b.nbytes)

ARRAY A
Shape:  (3, 4)
Size:  12
Num. Dimensions:  2
Num. Bytes:  96

ARRAY B
Shape:  (5, 3)
Size:  15
Num. Dimensions:  2
Num. Bytes:  120

In [157]:
t_array_a = array_a.T
t_array_b = array_b.T

In [159]:
# np.add(array_a, t_array_b)
np.add(array_a, t_array_b[0:3, 0:4])

array([[ 45. ,  38. ,  16. ,   9. ],
       [ 38.5,  25. ,  20. ,   6. ],
       [ 29. ,  29. , -32. ,   0. ]])

In the first trial of adding array_a and the transpose of array_b, the dimensions were not the same and thus it was not possible to add. By removing the last column of the transpose of array_b, the dimensions of both arrays were 3x5, thus allowing for the addition of the two arrays.

# Part 3: Pandas
## Part 3.1: Reading in Data (5 points)

On Canvas is the `train_stations_europe.csv` file. It was adapted from [this Kaggle data set](https://www.kaggle.com/datasets/headsortails/train-stations-in-europe). Read this data set in, using the `id` as the index column, and print the first few rows of the data. Make sure you keep the `import` statement below!

In [163]:
# make sure to import pandas library
import pandas as pd

In [165]:
df = pd.read_csv('train_stations_europe.csv', index_col='id')
df.head(10)

,name,latitude,longitude,parent_station_id,country,time_zone,is_city,is_main_station,is_airport
id,,,,,,,,,
1,Chateau-Arnoux-St-Auban,44.081790,6.001625,NaN,FR,Europe/Paris,True,False,False
2,Chateau-Arnoux-St-Auban,44.061565,5.997373,1.0,FR,Europe/Paris,False,True,False
3,Chateau-Arnoux Mairie,44.063863,6.011248,1.0,FR,Europe/Paris,False,False,False
4,Digne-les-Bains,44.350000,6.350000,NaN,FR,Europe/Paris,True,False,False
6,Digne-les-Bains,44.088710,6.222982,4.0,FR,Europe/Paris,False,True,False
7,La Crau,43.144935,6.068766,NaN,FR,Europe/Paris,False,False,False
8,Aire-sur-l'Adour,43.703854,-0.258269,NaN,FR,Europe/Paris,True,False,False
9,Cagnes-sur-Mer,43.658130,7.148640,5768.0,FR,Europe/Paris,False,True,False
10,Menton,43.776486,7.504349,NaN,FR,Europe/Paris,True,False,False
11,Menton,43.774444,7.493300,10.0,FR,Europe/Paris,False,True,False

## Part 3.2: Manipulating Data (20 points)

1. Create a subset of the data set which (a) **includes** only train stations in Belgium and (b) **excludes** all train stations which are **not** in a city. Make sure to save this subset as a new data frame and print the first few rows of the data.
1. Use the `.describe()` function to produce summary statistics for the subset from the previous part. Create a markdown cell and explain:
    - What Series did the `.describe()` function run on? What Series did it not run on? What is the difference, and what does this mean the `.describe()` function is used for?

In [168]:
df_belgium_city = df.loc[(df.country == 'BE') & (df.is_city == True)]
df_belgium_city.head(10)

,name,latitude,longitude,parent_station_id,country,time_zone,is_city,is_main_station,is_airport
id,,,,,,,,,
5964,Antwerpen,51.221722,4.405860,NaN,BE,Europe/Brussels,True,False,False
5970,Blandain Ville,50.617431,3.263740,NaN,BE,Europe/Brussels,True,False,False
5974,Bruxelles,50.846520,4.351739,NaN,BE,Europe/Brussels,True,False,False
6003,Quevy Ville,NaN,NaN,NaN,BE,Europe/Brussels,True,False,False
6006,Sterpenich Ville,NaN,NaN,NaN,BE,Europe/Brussels,True,False,False
23044,Liege,50.633333,5.566667,NaN,BE,Europe/Brussels,True,False,False
26863,Gent,51.050000,3.733333,NaN,BE,Europe/Brussels,True,False,False
29328,Bastogne,49.999779,5.709641,NaN,BE,Europe/Brussels,True,False,False
29332,Charleroi,50.410809,4.444643,NaN,BE,Europe/Brussels,True,False,False
32274,Maasmechelen,50.979756,5.701847,NaN,BE,Europe/Brussels,True,False,False

In [170]:
df_belgium_city.describe()

        latitude  longitude  parent_station_id
count   9.000000   9.000000                0.0
mean   50.719715   4.810847                NaN
std     0.366820   0.996916                NaN
min    49.999779   3.263740                NaN
25%    50.617431   4.351739                NaN
50%    50.718089   4.444643                NaN
75%    50.979756   5.701847                NaN
max    51.221722   6.120155                NaN

The .describe() function ran on the Series of train stations located in Belgium in the city. The .describe() function further ran on the columns made up of numerical values -- thus it did NOT run on train stations in countries other than Belgium and when in_city == False. The describe function is used to display summary statistics of data, as seen in the count, median, std, etc. indices. Thus, it may only be used for numerical values and data.

# Part 4: GitHub (10 points)

When you finish the first three parts, give one last restart and run all to this file. Then, go to the [DS 3000 GitHub](https://github.com/eaegerber/ds3000_summer25), fork it and then clone it to your local machine. Then:

- In the forked and cloned ds3000_summer25 repo, make a new branch (`git checkout -b lab-upload`)
- Create a folder with your name (as Dr. Gerber did)
- Navigate to that folder and place this jupyter notebook inside
- Add the file as the change to be committed (`git add .\Lab1_MyName.ipynb`)
- Check `git status`, your changes should be staged
- Commit the changes with a short message (`git commit -m "My message"`)
- Push the repository to GitHub (`git push origin lab-upload`)
- Navigate the the GitHub in the browser and create a pull request
- Once the pull request is merged, you can delete your branch in the "Pull Requests" tab in the browser
- Finally, upload the Lab to Gradescope. When you do so, it will give you the option to do it via GitHub; do that.